<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <link rel="icon" href="https://live.staticflickr.com/4069/5130097648_b14bee9a4f_z.jpg" type="image/x-icon">
    <title>Transformers</title>
</head>

<body>
    {% extends "index.html" %}
    {% block content %}

    <article>
        <div id="home">
            {% for item in transformers %}
            <a href="#">
                <img src="{{ item['image'] }}" alt="">
                <h2>{{ item['name'] }}</h2>
            </a>
            {% endfor %}
        </div>
    </article>
    {% endblock %}
</body>

</html>