{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/viewone.css' %}">
    <link rel="icon" href="https://live.staticflickr.com/4069/5130097648_b14bee9a4f_z.jpg" type="image/x-icon">
    <title>
        {% block title %}Transformers{% endblock %}
    </title>
</head>

<body>
    <header>
        <ul class="menu">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
    </header>
    <article>
        {% block content %}
        {% endblock %}
    </article>
</body>

</html>